@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* {
    background-color: rgb(248, 248, 248);
    font-family: 'Poppins', sans-serif;
}

#body {
    text-align: center;
}

aside {
    color: rgba(0,0,0,0.5);
    font-size: 20px;
    float: left;
    position: absolute;
    left: 75px;
    margin: 10px;
}

#scoreOverTotal {
    font-size: 50px;
}

#addition {
    font-size: 20px;
}

#content {
    margin-top: 75px;
}

#roundCount, #random {
    font-size: 20px;
}

#targetTime, #stoppedTime, #difference, #best {
    font-size: 18px;
}

#time {
    font-size: 130px;
}

button {
    height: 30px;
    width: 90px;
    border-radius: 4px;
    border: 2px solid black;
    margin: 10px;
}

button:focus {
    outline:0;
}

#start {
    background-color: lime;
}

#reset {
    background-color: grey;
}